.main-tables-container {
    display: flex;
    width: 930px;
    margin: 0 auto;
    
}
.product-cards--container {
    display: flex;
    flex-wrap: wrap; /*Para que el contenido se empiece a acomodar*/
    width: 930px;
    margin: 0 auto;
}
.plans-container--slider {
    justify-content: center;
}